/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.header {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
  font-size: 28px;
}

.search {
  text-align: center;
  margin: 20px 0;
}

#myInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

#search {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

#search:hover {
  background-color: #2980b9;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

.output {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

#location {
  font-size: 24px;
  font-weight: bold;
}

#textDisplay {
  font-size: 18px;
  margin-top: 10px;
  color: #555;
}

.weather-icon {
  flex: 1;
}

#gifDisplay {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  #myInput {
    width: 100%;
  }

  .output {
    flex-direction: column;
  }
}

.weather-info {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  margin-top: 10px;
  text-align: left;
}

.weather-detail {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.weather-label {
  font-weight: bold;
  color: #333;
}

.weather-value {
  color: #777;
}

.output {
  display: flex;
  flex-direction: column;
}
